#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --python python3

.PHONY: override_dh_strip override_dh_shlibdeps

override_dh_strip:
	dh_strip --exclude=cffi --exclude=_imaging --exclude=libtiff

override_dh_shlibdeps:
	dh_shlibdeps -X/x86/ -X/numpy/ -X/cv2/ -X/PIL/
